.Text {
  color: var(--color-white);
}

.small {
  font-size: var(--font-size-m);
}

.medium {
  font-size: var(--font-size-l);
}

.large {
  font-size: var(--font-size-xl);
}

.bold {
  font-weight: bold;
}
