.CloudStorageExplorerViewGrid {
  width: 100%;
}

.containerGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.emptyGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}
