.container {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  padding: calc(50px + var(--navbar-height)) 10% 0 10%;
}

.content {
  width: 100%;
  color: white;
  padding-left: 20px;
}
