@use "reset" as *;
@use "variables/global" as *;
@use "./themes" as *;

body {
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  background: var(--bg-color);
  background-size: cover;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
