@import "reset";
@import "variables/global";

body {
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to bottom, black, #420042) fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
