.container {
  width: 220px;
  padding: 10px;
  background-color: var(--bg-panel-color);
  box-shadow: 0 0 10px var(--shadow-border-panel-start);
  backdrop-filter: var(--blur-panel);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);

    .image {
      filter: brightness(0.6);
    }
  }
}

.image {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
  transition: filter 0.2s ease-in-out;
}

.date {
  position: absolute;
  top: 15px;
  right: 15px;
}

.view {
  display: flex;
  align-items: center;
  gap: 5px;
}

.viewImage {
  color: var(--color-text);
}

.types {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
