.containerBlockCode {
  padding: 20px;
  border: 1px solid var(--border-color-block-code);
  border-radius: 5px;
  background-color: var(--bg-color-block-code);
}

.articleTitle {
  font-weight: bold;
  margin-bottom: 12px;
}