.articles_list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.container_2 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}
