client/build
client/node_modules
client/reports
.idea
server/node_modules
server/uploads
server/.development.env
server/.production.env
eslint-plugin-alexsereb666/node_modules
node_modules

*storybook.log
