.container {
  height: var(--navbar-height);
  background-color: var(--bg-panel-color);
  backdrop-filter: var(--blur-panel);
  box-shadow: 0 5px 10px -1px var(--shadow-border-panel-start), 0 1px 3px var(--shadow-border-panel-end);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.logo {
  fill: var(--color-icon);
}
