.chatInputContainer {
  display: flex;
  background-color: var(--bg-color-input-messenger-panel);
  padding: 12px;
  border-radius: 10px;
}

.chatInputField {
  flex: 1;
  padding: 10px;
  font-size: var(--font-size-m);
  border: 1px solid var(--border-color-input-messenger);
  border-radius: 5px;
  color: var(--color-text);
  background-color: var(--bg-color-input-messenger);
  resize: none;
  max-height: 200px;

  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-text) transparent;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 8px;
  background: none;
  border: none;
}

.iconSend {
  color: var(--btn-color-input-messenger);
  transition: transform 0.2s ease-in-out;
}

.iconSend:hover {
  transform: scale(1.1);
}
