.articles_details_page {
  height: 100%;
  max-height: 87vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: var(--bg-panel-color);
  box-shadow: 0 0 10px var(--shadow-border-panel-start);
  backdrop-filter: var(--blur-panel);
  padding: 10px;
  border-radius: 10px;
}

.articles_details_page::-webkit-scrollbar {
  width: 0;
}

.articles_details_page::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.articles_details_page::-webkit-scrollbar-track {
  background: transparent;
}

.add_comment {
  margin-top: 20px;
  margin-bottom: 20px;
}
