.container {
  width: var(--navbar-width-sidebar);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 15px;
}

@media (max-width: 1300px) {
  .container {
    width: 55px;
  }
}
