.container {
  width: var(--navbar-width-sidebar);
  height: 100%;
  background-color: var(--bg-panel-color);
  box-shadow: 0 0 10px var(--shadow-border-panel-start);
  backdrop-filter: var(--blur-panel);
  border-radius: 20px;
  padding: 15px;
}

@media (max-width: 1300px) {
  .container {
    width: 55px;
  }
}
