.codeContainer {
  position: relative;
}

.code {
  color: var(--color-code-text);
  font-size: var(--font-size-m);
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
}

.copyBtn {
  height: auto;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: var(--color-text);
  transition: transform 0.2s ease-in-out;
}

.copyBtn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
