.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-color-default);
  color: var(--text-color-default);

  &--small {
    font-size: 16px;
  }

  &--medium {
    font-size: 24px;
  }

  &--large {
    font-size: 32px;
  }

  &--default {
    background-color: var(--bg-color-default);
    color: var(--text-color-default);
  }

  &:hover {
    background-color: var(--bg-color-hover);
    color: var(--text-color-hover)
  }

  &:active {
    background-color: var(--bg-color-active);
    color: var(--text-color-active);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--bg-color-disabled);
    color: var(--text-color-disabled);

    &:hover, &:active {
      background-color: var(--bg-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}
