.container_list_users {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.not_found_users {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: var(--font-size-m);
  color: var(--color-white);
}
