.container {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .text {
    display: none;
  }
}

.icon {
  fill: var(--color-icon);
}

.text {
  margin-left: 10px;
}
