[data-theme='dark'] {
  // общий фон
  --bg-color: linear-gradient(to bottom, black, #262d79) fixed;

  // текст
  --color-text: #9c9c9c;

  // поля для ввода
  --bg-color-input: #313565;
  --text-color-input: #9c9c9c;
  --disabled-color-input: #636363;

  // выпадающий список
  --select-border-color: #9c9c9c;
  --select-placeholder-color: #9c9c9c;
  --select-bg-color: #192d5c;
  --select-selected-color: #1d3867;
  --select-active-color: #4a6188;

  // табы
  --border-color-tab: rgba(175, 175, 175, 0.5);
  --hover-color-tab: rgba(25, 74, 122, 0.3);
  --selected-color-tab: rgba(255, 255, 255, 0.3);

  // фон панелей
  --bg-panel-color: rgba(0, 0, 0, 0.4);
  --blur-panel: blur(20px);
  --shadow-border-panel-start: rgba(255, 255, 255, 0.3);
  --shadow-border-panel-end: rgba(255, 255, 255, 0.1);

  // иконки svg
  --color-icon: #677bab;

  // элемент dropdawn
  --bg-dropdawn-color: rgb(29, 14, 44);
  --border-dropdownr-color: #5e6878;
  --text-dropdawn-color: #aeaeae;
  --dropdown-active-color: rgba(25, 74, 122, 0.3);

  // скелетоны
  --skeleton-color-light: rgba(255, 255, 255, 0.1);
  --skeleton-color-dark: rgba(0, 0, 0, 0.1);
  --skeleton-shadow-color: rgba(255, 255, 255, 0.3);

  // окно уведомлений
  --notification-bg-color: rgba(29, 14, 44, 0.95);
  --notification-border-color: #5e6878;

  // компонент switch
  --switch-background-color: rgba(255, 255, 255, 0.5);
  --switch-background-color-enabled: #4355a5;
  --switch-background-color-disabled: rgba(120, 120, 120, 0.6);
  --switch-thumb-color-disabled: rgba(135, 135, 135, 0.6);

  // инпут отправки сообщений в мессенджере
  --bg-color-input-messenger-panel: #321e7a;
  --bg-color-input-messenger: rgba(0, 0, 0, 0.5);
  --border-color-input-messenger: #afafaf;
  --btn-color-input-messenger: #9c9c9c;

  // сообщения чата
  --color-alien-message: #463c75;
  --color-my-message: #483460;

  // кнопка
  --bg-color-default: #253e68;
  --text-color-default: #afafaf;
  --bg-color-hover: #1c3050;
  --text-color-hover: #afafaf;
  --bg-color-active: #15253e;
  --text-color-active: #afafaf;
  --bg-color-disabled: gray;
  --text-color-disabled: darkgray;

  // блок с кодом
  --bg-color-block-code: rgba(58, 58, 58, 0.7);
  --border-color-block-code: rgba(175, 175, 175, 0.5);

  // звезды (рейтинги)
  --bg-color-active-rating: #594a07;

  // модальное окно
  --overlay-color: rgba(0, 0, 0, 0.5);
  --color-border-modal: rgb(81, 92, 115);
  --bg-color-modal: rgba(31, 53, 62, 0.5);

  // шкала загруки
  --default-bg-color-progress-bar: #a6a6a6;
  --success-bg-color-progress-bar: #4caf50;
  --text-color-progress-bar: #fff;

  // всплывающее уведомление
  --bg-color-toast: #474755;
  --shadow-color-toast: rgba(255, 255, 255, 0.3);
  --progress-color-toast: rgba(255, 255, 255, 0.3);
  --bg-color-toast-success: rgb(35, 71, 35);
  --color-icon-success: #43a641;
  --bg-color-toast-error: rgb(85, 7, 7);
  --color-icon-error: #d12222;
  --bg-color-toast-info: rgb(36, 53, 106);
  --color-icon-info: #4170c6;
  --bg-color-toast-warning: rgb(87, 73, 30);
  --color-icon-warning: #c3ad2f;

  // drag and drop
  --bg-color-dragging: rgba(65, 112, 198, 0.1);
}
