:root {
  --font-family-main: consolas, "Times New Roman", serif;

  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  --navbar-height: 50px;
  --navbar-width-sidebar: 200px;
  --navbar-width-menu: 240px;

  --color-white: #afafaf;
  --color-red: #bd0101;
  --color-select-background: rgba(175, 175, 175, 0.18);
}
