:root {
  --font-family-main: consolas, "Times New Roman", serif;

  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  --font-size-date-message-m: 12px;

  --navbar-height: 50px;
  --navbar-width-sidebar: 200px;
  --navbar-width-menu: 240px;
  --chat-box-width: 1050px;

  --color-white: #afafaf;
  --color-red: #bd0101;
  --color-select-background: rgba(175, 175, 175, 0.18);

  --color-alien-message: #201359;
  --color-my-message: #2e1a79;

  --skeleton-color-light: rgba(255, 255, 255, 0.1);
  --skeleton-color-dark: rgba(0, 0, 0, 0.1);
  --skeleton-gradient-duration: 1.5s;
  --skeleton-shadow-color: rgba(255, 255, 255, 0.3);

  --article-color-subtitle: rgba(158, 158, 158, 0.8);
}
