.articles_list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

  padding: 10px 0;

  max-height: 67vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.articles_list::-webkit-scrollbar {
  width: 0;
}

.articles_list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.articles_list::-webkit-scrollbar-track {
  background: transparent;
}
