.ProfileCard {
  border: 2px solid var(--color-text);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.avatarBlock {
  position: relative;
}

.editBtn {
  position: absolute;
  color: var(--color-icon);
  width: 20px;
  height: 20px;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.editBtn:hover {
  transform: scale(1.1);
}
